#include <configs/am62x_evm_r5_defconfig>

CONFIG_ARM=y
CONFIG_ARCH_K3=y
CONFIG_DEFAULT_DEVICE_TREE="k3-am62-r5-lp-sk"
CONFIG_SOC_K3_AM625=y
CONFIG_TARGET_AM625_R5_EVM=y
CONFIG_SPL_MTD=y
CONFIG_SPL_MTD_LOAD=y
CONFIG_SPL_MTD_NAND_LOAD=y
CONFIG_SPL_NAND_SPI_SUPPORT=y
CONFIG_SPL_DM_DEVICE_REMOVE=y
CONFIG_DM_MTD=y
CONFIG_MTD_SPI_NAND=y
CONFIG_MTD_SPI_NAND_WINBOND=y
CONFIG_MTD_SPI_NAND_MICRON=y
CONFIG_MTD_SPI_NAND_GIGADEVICE=y
# CONFIG_MTD_SPI_NAND_ALLIANCEMEMORY is not set
# CONFIG_MTD_SPI_NAND_ATO is not set
# CONFIG_MTD_SPI_NAND_ESMT is not set
# CONFIG_MTD_SPI_NAND_FMSH is not set
# CONFIG_MTD_SPI_NAND_FORESEE is not set
# CONFIG_MTD_SPI_NAND_MACRONIX is not set
# CONFIG_MTD_SPI_NAND_PARAGON is not set
# CONFIG_MTD_SPI_NAND_SKYHIGH is not set
# CONFIG_MTD_SPI_NAND_TOSHIBA is not set
# CONFIG_MTD_SPI_NAND_XTX is not set
